*{
    background-color: #FFFFFF;
    margin: 0;
    padding:0;
    width: 100%;
    color:#021c34;
    line-height: 1.5;
    
    
}

.container{
    margin: 7rem 0rem 0rem 3rem;
    display: flex;
    width: 100%;
    
    
}
.container2{
    display: flex;
    margin-left: -30rem;
}

.div4{
    margin-right: -4rem;
}

@media (max-width: 420px){
    *{font-size: 13px;}
    /* body{
         width: 100%;
        margin:0;
    }
    .container{
        margin:4rem 8rem 3rem 8rem;
        
    }
    .container2{
        margin-left: -60rem;
        margin-right: 0;

    }
    .div3{
        margin-left: -18rem;
    }
    .div4{
        margin-left: -10rem;
    } */
    .container, .container2{
    flex-direction: column;
    justify-content: end;
   }
   /* .container2{
    
    flex-direction: column;
   } */
}
    


